.board {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: 600;
}
.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 30px;
    float: left;
}
  
.board .cell {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40pt;
    color: black;
}
  
.board .wincell {
    background-color: green;
    color: white;
}
  
.board .errcell {
    border: 2px solid crimson;
    background-color: crimson;
}